<div class="container">
    <div class="row">
        <div class="col">
            <div id="lhc_status_container_page"></div>
        </div>
    </div>
</div>

<footer class="section-full footer">
    <div class="footer__bar">
        <ul class="contact col-lg-8">
            <li class="contact__fone">
                <a href="tel:1132321133">
                    <i class="icon icon--telefone"></i>
                    <p>Telefone <strong>(11) 3232-1133</strong></p>
                </a>
            </li>
            <li class="contact__whats">
                <a href="https://wa.me/5513996621133?text=Varandas%20-%20Pitangueiras">
                    <i class="icon icon--mobile"></i>
                    <p>Celular e Whatsapp <strong>(13) 99662-1133</strong></p>
                </a>
            </li>
            <li class="contact__email">
                <a href="mailto:varandaspitangueiras@maximoaldana.com.br">
                    <i class="icon icon--email"></i>
                    <p>Informações <strong>POR E-MAIL</strong></p>
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="logos">
                    <div class="logos__construcao">
                        <p>Construção e Incorporação:</p>
                        <img src="./image/logo-maximo.png" class="img-responsive"/>
                    </div>
                    <div class="logos__intermediacao">
                        <p>Intermediação</p>
                        <img src="./image/logo-occa.png" class="img-responsive"/>                        
                    </div>
                </div>

                <div class="text">
                    <p>Incorporadora Responsável: Maximo Aldana Construtora e Incorporadora LTDA. O empreendimento somente será comercializado após o registro de memorial de incorporação. As imagens constantes deste material são meramente ilustrativas e não representam fotografias exatas do empreendimento. A vegetação que compõe o paisagismo tratado nas imagens é meramente ilustrativa e apresenta porte adulto de referência. Na entrega do empreendimento essa vegetação poderá apresentar diferenças de tamanho e porte.</p>
                </div>
            </div>
        </div>
    </div>
</footer>