<nav class="section-full menu-bar">
    <div class="container">
        <div class="row menu">
            <div class="menu__brand col-lg-2">
                <img src="./image/logo-color-02.png" class="logo-color"/>
                <img src="./image/logo-color.png" class="logo-pb"/>
            </div>

            <ul class="menu__links  offset-lg-1 col-lg-9">
                <li><a href="#localizacao">Localização</a></li>
                <li><a href="#projeto">Projeto</a></li>
                <li><a href="#lazer">Lazer</a></li>
                <li><a href="#apartamento">Apartamento</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="#realizacao">Realização</a></li>
                <li class="bold"><a href="/tour-360" target="_blank">Tour 360</a></li>
                <!--<li class="video bold"><a href="#video">Vídeo</a></li>-->
            </ul>

            <button class="btn-mobile icon-menu"></button>
        </div>
    </div>
</nav>