.a-planta{
    .title-default{
        @include media-breakpoint-up(lg){
            margin-left: 25%;
            padding: 0
        }

        
        @include media-breakpoint-down(md){
            margin-bottom: 30px;
        }
    }
    
    &__slider{
        margin: 0 auto;

        .planta{
            align-items: center;
            margin: 0;

            @include media-breakpoint-down(md){
                flex-flow: column;
            }

            &__image{
                z-index: 2;
                padding: 0;

                @include media-breakpoint-down(md){
                    order: 2;
                    margin-top: -90px;
                    
                    img{
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }

            &__description{
                z-index: 1;

                @include media-breakpoint-up(lg){
                    padding: 30px 0 30px 45px;
                    margin-left: -75px;
                }

                @include media-breakpoint-down(md){
                    order: 1;
                    padding-right: 0;
                    padding-bottom: 100px;
                    flex-flow: wrap;
                    justify-content: center;
                    align-items: flex-end;
                    border-width: 10px;
                }

                .title{
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 25px;

                    @include media-breakpoint-down(md){
                        margin-bottom: 15px;
                    }

                    img{
                        display: inline-block;
                        width: max-content;
                        vertical-align: middle;

                        @include media-breakpoint-down(md){
                            display: none;
                        }
                    }

                    @include media-breakpoint-down(md){
                        width: 80%;

                        br{
                            display: none;
                        }
                    }
                }

                .figure{
                    width: 180px;
                    height: 85px;
                    background-image: url(../image/figura-planta.png);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    background-size: contain;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin-bottom: 20px;

                    @include media-breakpoint-down(md){
                        width: 110px;
                        height: 55px;
                    }

                    h4{
                        font-size: 30px;
                        text-transform: uppercase;
                        font-size: 40px;                        
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: 'UniCond';
                        background: $gradient-text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;  

                        @include media-breakpoint-up(lg){
                            line-height: 0.8;
                        }

                        @include media-breakpoint-down(md){
                            font-size: 24px;
                        }
                    }
                }

                &__list{
                    @include media-breakpoint-down(md){
                        margin-left: 10px;
                    }

                    li{
                        @include media-breakpoint-down(md){
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(md){
            img{
                width: 100%;
            }
        }

        .owl-nav{
            @include media-breakpoint-up(lg){
                margin-top: -20px;
                z-index: 10;
                position: relative;
            }
        }
    }
}