.area-privativa{
    background-image: url(../image/bg-degrade-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 44vw center;
    margin: 100px 0;

    @include media-breakpoint-down(md){
        background-position: center top;
        margin: 230px 0 100px;
    }

    .row{
        align-items: center;
    }

    .slider{
        padding: 40px 0;

        &__privativo{
            box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.5);

            @include media-breakpoint-down(md){
                width: calc(100% - 30px);
                max-width: 500px;
                margin: 0 auto;
            }
        }

        .palmeira{
            position: absolute;
            width: 340px;
            height: 285px;
            background: url(../image/palmeira-nitida.png) no-repeat center center;
            background-size: cover;
            top: -95px;
            left: -160px;

            @include media-breakpoint-down(md){
                display: none;
            }
        }
    }

    .description{
        .title-default {

            @include media-breakpoint-up(lg){
                align-items: flex-start;
                margin-bottom: 50px;
            }

            @include media-breakpoint-down(md){
                margin-top: -180px;
            }
        }

        .description__slider{
            @include media-breakpoint-down(md){
                display: none;
            }
        }

        .owl-stage-outer{
            .owl-stage{
                width: 100% !important;

                .owl-item .item{
                    float: left;
                }
            }
            
        }
    }
}

