.diferencial{
    margin-top: 90px;

    .title-default{
        margin-bottom: 50px;

        .gradient-title{
            &::before {
                width: 61%;
                left: auto;
                right: -8px;
            }
        }
    }

    &__box{
        margin-bottom: 40px;

        .number{
            float: right;
            margin-bottom: -50px;
            position: relative;
            padding: 0 20px;
            z-index: 1;

            h3{
                font-size: 90px;
                font-weight: 800;

                background-image: $gradient;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }

        img{
            filter: brightness(1.3);
        }

        .list{
            margin-top: -15px;
            padding-left: 20%;
            position: relative;
            z-index: 1;

            h2{
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 25px;
            }

            li{
                font-size: 14px;
                letter-spacing: 2px;
                margin-bottom: 15px;

                &::before{
                    content: "";
                    display: inline-block;
                    width: 17px;
                    height: 2px;
                    background: $gradient-vert;
                    margin-left: -30px;
                    margin-right: 15px;
                    vertical-align: middle;
                }
            }
        }/* list */

        &--two{
            .number{
                float: left;
            }
        }
    }/* box */

    .folha{
        transform: scaleX(-1);

        @include media-breakpoint-down(md){
            width: 170px;
            position: absolute;
            top: -30px;
            right: 0;

            img{
                width: 100%;
            }
        }
    }
}