.faixa-familia{
    background-image: url(../image/bg-familia.jpg);
    background-repeat: no-repeat;
    background-position: center top;

    @include media-breakpoint-only(lg){
        background-size: 1400px;
    }

    @include media-breakpoint-down(md){
        .container{
            max-width: 500px;
            position: relative;
        }
    }

    .frase{
        float: right;
        position: relative;
        right: 185px;

        @include media-breakpoint-down(md){
            right: 15px;
            margin-top: 10px;
            position: absolute;
        }

        &__line{
            width: 145px;
            height: 4px;
            background: $gradient-half;

            @include media-breakpoint-down(md){
                width: 105px;
            }
        }

        &__text{
            h6{
                font-weight: 600;
                text-transform: uppercase;
                font-size: 16px;
                margin-top: 16px;
                line-height: 1.3;  
                
                @include media-breakpoint-down(md){
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
        }
    }

    .familia{
        margin-top: -22px;        
        position: relative;

        @include media-breakpoint-up(lg){
            padding: 0;
        }

        @include media-breakpoint-down(md){            
            margin: 0 auto -50px;
            padding-top: 50px;
            max-width: 350px;
        }

        img{
            width: 100%;
        }

        .folha{
            position: absolute;
            bottom: -18px;
            left: -125px;

            @include media-breakpoint-down(md){
                display: none;
            }
        }
    }
}