.faixa-conforto{
    background-image: url(../image/bg-familia.jpg);
    background-repeat: no-repeat;
    background-position: center top;

    &__wrapper{
        padding-top: 60px;
        margin: 0 auto;
        position: relative;

        @include media-breakpoint-down(md){
            width: 350px;
            margin: 0 auto -30px;
            position: relative;
            padding-top: 15px;
        }

        img{
            width: 100%;
        }
         
        .frase{
            position: absolute;

            .line{
                width: 100%;
                height: 3px;
                background: $gradient-half;
            }

            &--small{
                right: 10px;
                top: 190px;

                @include media-breakpoint-only(lg){
                    right: 15px;
                    top: 200px;
                }

                @include media-breakpoint-down(md){
                    right: auto;
                    bottom: 100px;
                    top: auto;
                }

                h5{
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;

                    @include media-breakpoint-down(md){
                        font-size: 12px;
                    }
                }

                .line{
                    margin-top: 7px;
                }
            }

            &--big{
                top: 260px;
                left: -48px;

                @include media-breakpoint-only(lg){
                    top: 271px;                    
                }

                @include media-breakpoint-down(md){
                    display: none;
                }
            

                p{
                    font-size: 14px;
                    text-align: justify;
                    color: #0a0709;

                    span{
                        color: $orange-pinky;
                        font-weight: 600;
                    }
                }

                .line{
                    height: 4px;
                    margin-bottom: 7px;

                    &::after{
                        content: "";
                        display: block;
                        width: 25px;
                        height: 2px;
                        background: #70706f;
                        float: right;
                        margin-right: -25px;

                        @include media-breakpoint-only(lg){
                            width: 39px;
                            margin-right: -39px;
                        }
                    }
                }
            }
        }
    }
}