.ficha-tecnica{
    background-image: url(../image/bg-degrade.jpg);
    background-repeat: no-repeat;
    background-position: -50vw;
    background-size: cover;
    margin: 150px 0 100px;

    @include media-breakpoint-down(md){
        background-image: none;
        position: relative;
        padding-top: 100px;
    }

    .fachada{
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 1;

        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 298px;
            height: 362px;
            background: url(../image/palmeira.png) no-repeat;
            right: -239px;
            top: -45px;
            z-index: 0;
            background-size: contain;

            @include media-breakpoint-down(md){
                display: none;
            }
        }

        &__wrapper{
            margin-top: 78px;
            position: relative;
            right: -90px;
            box-shadow: 2px 0px 23px rgba(0, 0, 0, 0.2);

            @include media-breakpoint-down(md){
                margin: 0 auto;
                right: auto; 
                max-width: 360px;     
                
                img{
                    width: 100%;
                }
            }

            img{
                display: block;
            }
        }
    }

    .dados{
        display: flex;
        flex-flow: column;
        align-items: end;

        @include media-breakpoint-down(md){
            position: initial;
        }

        .title-default{
            margin-top: 60px;

            @include media-breakpoint-down(md){
                position: absolute;
                top: -160px;
                z-index: 1;
                width: calc(100% - 30px);
                padding: 0;
                left: 0;
            }
        }

        &__box{
            background: #e8eae8;
            padding: 35px 55px 25px 110px;
            position: relative;

            @include media-breakpoint-down(md){
                padding: 60px 20px 20px 20px;
                width: calc(100% + 30px);
                margin: -45px -15px 0;
                position: initial;
            }
            
            &::after{
                content: "";
                display: block;
                width: 107px;
                height: 108px;
                background: url(../image/circle.png);
                position: absolute;
                right: -55px;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;

                @include media-breakpoint-down(md){
                    display: none;
                }
            }

            ul{
                padding-left: 60px;

                @include media-breakpoint-down(md){
                    padding-left: 0;
                    display: flex;
                    flex-flow: row wrap;
                    max-width: 360px;
                    margin: 0 auto;
                }

                li{
                    font-size: 14px;
                    padding: 10px 0;

                    @include media-breakpoint-down(md){
                        width: 50%;
                    }

                    &::before{
                        content: "";
                        display: inline-block;
                        width: 17px;
                        height: 2px;
                        background: $gradient;
                        vertical-align: middle;
                        margin-right: 20px;
                        margin-top: -2px;

                        @include media-breakpoint-down(md){
                            width: 10px;
                            margin-right: 5px;
                        }
                    }
                }
            }/* ul */

            .label{
                position: relative;
                background: $gradient;
                padding: 2px;
                margin-top: 10px;

                @include media-breakpoint-down(md){
                    max-width: 360px;
                    margin: 10px auto 0;
                }

                &__wrapper{
                    background: #e8eae8;
                    padding: 20px;

                    p{
                        font-size: 14px;                    
                        b{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}