.form-action {
    margin-top: 30px;

    .row-select {
        position: relative;

        @include media-breakpoint-down(md) {
            margin-bottom: 25px;
        }

        .icon {
            position: absolute;
            top: 1px;
            right: 1px;
            border-left: 1px solid $gray;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100% - 2px);
            background: #e8eae8;
            z-index: 1;
            pointer-events: none;
            transition: ease-in 0.3s;
        }

        &:hover {
            .icon {
                background: $orange;
                color: white;
            }
        }
    }

    input,
    textarea,
    select {
        border: 1px solid;
        border-color: $gray;
        border-radius: 5px;
        color: $gray;
        outline: none;
        padding: 10px 20px;

        transition: ease-in 0.3s;

        &:focus {
            border-color: $orange;
            box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
        }

        &.required {
            border: 3px solid #dc3545;
            background: rgba(220, 53, 53, 0.5);
            color: white;
        }
    }

    textarea {
        height: 190px;
    }

    .choose-chanel,
    textarea {
        width: 100%;
    }

    .name,
    .telefone {
        width: 29%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .telefone {
        @include media-breakpoint-down(md) {
            margin: 5px 0;
        }
    }

    .email {
        width: 39%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .row-form {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 15px 0;

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }
    }

    small {
        font-size: 10px;
    }

    button {
        margin: 15px auto 0;
        cursor: pointer;
    }

}

.form-success_message {
    width: 100%;
    padding: 40px;
    text-align: center;
    margin: 60px 0 40px;
    border: 1px solid $orange;
}

.form-error_message {
    margin-top: 20px;

    ul {
        li {
            padding: 5px 0;
            font-size: 13px;

            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 3px;
                height: 3px;
                border-radius: 100%;
                margin-right: 5px;
                background: $red-error;
            }
        }
    }
}