.header {
    background-image: url(../image/bg-banner-top.jpg);
    background-position: center top;
    //background-size: cover;
    background-repeat: no-repeat;    

    @media (min-width: 992px) and (max-width: 1366px){
        background-size: 1400px;
        height: 670px;
    }

    @media (min-width: 1367px){
        background-size: 1920px;
        height: 890px;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 95px;
    }

    @include media-breakpoint-down(md) {
        background-image: url(../image/bg-banner-top-mobile.jpg);
    }

    @include media-breakpoint-down(sm) {
        background-size: 780px;
    }

    &__wrapper {
        height: 100%;
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;

        &__container{
            width: 100%;            
            display: flex;

            @include media-breakpoint-up(lg){
                height: 448px;
                flex-flow: row;
                justify-content: space-between;
                align-items: flex-start;
            }

            @include media-breakpoint-down(md){
                flex-flow: column;
                justify-content: space-between;
                height: 845px;
                margin-top: 110px;
            }

            @media (min-width: 992px) and (max-width: 1366px){
                margin-top: 35px;
            }

            @media (min-width: 1367px){
                margin-top: 90px;
            }

            .metragem {                
                justify-content: center;
                display: flex;

                @include media-breakpoint-up(lg){
                    flex-grow: 1;
                }

                &__wrapper{
                    border-top: 2px solid $gray;
                    border-bottom: 2px solid $gray;
                    padding: 10px 0;
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;

                    @media (min-width: 992px) and (max-width: 1366px){
                        width: 339px;
                        margin-left: 99px;
                    }

                    @media (min-width: 1367px){
                        width: 465px;
                        margin-left: 25px;
                    }    
                    
                    @include media-breakpoint-down(md){
                        width: 330px;
                    }
                }
    
                .dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background: $gray;
                    margin: 0 23px;
                }
    
                p {
                    font-size: 16px;
    
                    strong {
                        font-weight: 900;
                    }
                }
            }
    
            .slogan {
                margin-top: 30px;
                width: 700px;
    
                @media (min-width: 1024px) and (max-height: 800px) {
                    margin-top: 18px;
                    width: 545px;
                }
            }
        }


        .arrow-down {
            position: absolute;
            bottom: 10px;
            width: 52px;
            height: 52px;
            border-radius: 100%;
            background-image: url(../image/btn-arrow.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .social {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 163px;

            @include media-breakpoint-down(md) {
                display: none;
            }

            li {
                border: 2px solid #f27460;
                border-radius: 100%;
                width: 35px;
                height: 35px;
                justify-content: center;
                align-items: center;
                display: flex;
                transition: ease 0.3s;

                &:hover {
                    background: $gradient;

                    a {
                        color: white;
                    }
                }

                a {
                    color: $orange;
                    font-size: 17px;

                    transition: ease 0.3s;
                }
            }
        }

        &__formulario {
            padding: 20px 30px;

            @include media-breakpoint-up(lg) {
                width: 330px;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
                background: white;
                border-radius: 15px;
            }

            .title-default .title {
                font-size: 22px;
                margin: 5px 0 20px;

                .gradient-title {
                    z-index: 1;

                    &::before {
                        width: 97%;
                        right: -8px;
                        left: auto;
                        height: 16px;
                    }
                }
            }

            .form-action {
                margin: 0;

                .row-form {
                    flex-flow: column;
                    margin: 10px 0 5px;

                    input {
                        width: 100%;
                        font-size: 12px;

                        &.telefone {
                            margin: 5px 0;
                        }
                    }
                }

                .choose-chanel,
                textarea,
                input {
                    font-size: 12px;
                    padding: 10px;
                }

                textarea {
                    height: 100px;
                }
            }

            .form-error_message {
                text-align: center;
            }

            .form-success_message {
                margin: 0;
            }
        }
    }
}