.lazer{
    background-image: url(../image/bg-degrade-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -44vw center;
    margin: 100px 0;

    @include media-breakpoint-down(md){
        margin: 230px 0 100px 0;
        background-position: center center;
    }

    .slider{
        padding: 50px 0;

        @include media-breakpoint-down(md){
            padding: 50px 15px;
            order: 2;
        }

        &__lazer{
            position: relative;
            right: -40px;
            box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.5);

            @include media-breakpoint-down(md){
                right: auto;
                max-width: 500px;
                margin: 0 auto;
            }
        }
    }

    .description{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;

        @include media-breakpoint-down(md){
            order: 1;
        }

        .title-default{
            align-items: flex-end;
            margin: initial;

            @include media-breakpoint-down(md){
                align-items: center;
                margin: -160px auto 0;
            }

            .title, .subtitle{
                text-align: right;

                @include media-breakpoint-down(md){
                    text-align: center;
                }
            }
        }

        &__slider{
            width: 200px;

            @include media-breakpoint-down(md){
                display: none;
            }
        }
    }
}