.localizacao{
    margin-top: -30px;

    @include media-breakpoint-down(md){
        margin-top: 0;
    }

    .title-default{
        margin: -50px auto 0;

        @include media-breakpoint-down(md){
            margin: 50px auto 0;
        }
    }
    

    &__wrapper{
        margin-top: 160px;

        @include media-breakpoint-down(md){
            margin-top: 25px;
            position: relative;
        }

        .box-text{
            position: relative;
            z-index: 1;

            @include media-breakpoint-down(md){
                order: 2;
            }

            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 425px;
                height: 362px;
                background: url(../image/palmeira.png) no-repeat;
                right: -100%;
                top: -115px;

                @include media-breakpoint-down(md){
                    display: none;
                }
            }

            &__box{
                background: white;
                padding: 30px 40px;
                box-shadow: -1px 1px 15px rgba(0,0,0,.1);
                position: relative;
                right: -75px;
                z-index: 1;

                @include media-breakpoint-only(lg){
                    width: 355px;
                }

                @include media-breakpoint-down(md){
                    right: 0;
                    margin: -30px auto 0;
                    max-width: 500px;
                }

                .paragrafo{
                    margin-bottom: 10px;

                    h4{
                        font-weight: 900;
                        font-size: 16px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }

                    p{
                        font-size: 12px;
                        margin-top: 20px;
                    }

                    &::before{
                        content: "";
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: $gradient-vert;
                        margin: 15px 0;
                    }
                }

            }/* box */

            .ondas{
                display: block;
                width: 315px;
                height: 125px;
                background: url(../image/ondas.png);
                z-index: 0;
                position: relative;
                margin-top: -20px;

                @include media-breakpoint-down(md){
                    display: none;
                }
            }
        }/* box-text */

        .box-picture{
            padding-top: 130px;

            @include media-breakpoint-down(md){
                order: 1;
                padding-top: 0;
                position: initial;

                img{
                    width: calc(100% + 30px);
                    margin: 0 -15px;
                }
            }

            .adress{
                margin: 30px 0;

                p{
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: center;
                }

                @include media-breakpoint-down(md){
                    display: none;
                }
            }

            .look-map{
                margin: 0 auto;

                @include media-breakpoint-down(md){
                    position: absolute;
                    bottom: -30px;
                    z-index: 1;
                    left: 50%;
                    transform: translateX(-50%);
                }

                i{
                    color: #fff;
                    font-size: 20px;
                    margin-left: 15px;
                    margin-right: -15px;
                }
            }
        }
    }
}