.mapa{
    margin: 70px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    position: relative;

    #pintangueisMap{
        width: 100%;
        height: 450px;

        @include media-breakpoint-down(md){
            height: 300px;
        }
    }

    .btn-rota{
        position: absolute;
        z-index: 2;
        bottom: -27px;
    }
}