.planta-lazer{
    margin-bottom: 100px;

    &__wrapper{
        align-items: flex-end;

        .planta__image{
            
            @include media-breakpoint-down(md){
                margin-top: -115px;
            }
        }

        .planta__description{
            margin-bottom: 65px;
            position: relative;

            @include media-breakpoint-down(md){
                padding-bottom: 50px;
            }

            .title{
                @include media-breakpoint-down(md){
                    text-align: center;
                    margin-bottom: 20px;
                }
            }

            .onda{
                position: absolute;
                top: 115px;
                z-index: 0;
                right: -40px;

                @include media-breakpoint-down(md){
                    display: none;
                }
            }

            &__list{
                @include media-breakpoint-down(md){
                    width: 90%;
                }

                li{
                    @include media-breakpoint-down(md){
                        width: 49%;
                        margin: 10px 0;
                        display: inline-block;
                        font-size: 15px;
                        vertical-align: text-top;

                        span{
                            &::after{
                                width: 5px;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }

        .planta__image{
            @include media-breakpoint-up(lg){
                margin-left: -60px;
            }            
        }

        .title-default{
            margin-bottom: 50px;

            .line{
                height: 100px;
                margin: 0 auto;
            }

            .title,
            .subtitle{
                text-align: center;
            }
        }

        .itens{
            position: relative;

            &__descr{
                margin-bottom: 45px;
                right: -90px;
                position: relative;

                @include media-breakpoint-down(md){
                    right: auto;
                }
            }
        }/* itens */

    }
}