.projeto{
    margin: 100px 0;

    .title-default{
        .title{
            .gradient-title{
                &::before{
                    width: 100%;
                    left: 10px;
                }
            }
        }
    }

    &__arquiteto{
        padding: 30px;
        margin: 60px auto 0;
        background-image: url(../image/moldura.png), url(../image/moldura.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right top;

        .box{
            background: white;
            display: flex;
            flex-flow: row;
            padding: 20px;
            box-shadow: -1px 1px 15px rgba(0,0,0,.1);

            @include media-breakpoint-down(md){
                flex-flow: column;
                align-items: center;
            }

            &__col{
                padding: 40px 20px 60px;

                @include media-breakpoint-down(md){
                    padding: 20px 0;
                }

                &:first-child{
                    width: 50%;

                    @include media-breakpoint-down(md){
                        width: 70px;
                    }
                }

                &:last-child{
                    position: relative;
                }

                p{
                    font-size: 14px;
                    margin-bottom: 25px;
                    text-align: justify;
                }

                .person{
                    display: flex;
                    flex-flow: row;
                    position: absolute;
                    right: 20px;
                    bottom: -100px;
                    
                    @include media-breakpoint-down(md){
                        position: initial;
                        justify-content: center;
                        right: auto;;

                        &__picture{
                            display: none;
                        }

                    }

                    &__name{
                        padding-right: 30px;

                        @include media-breakpoint-down(md){
                            padding-right: 0;
                        }

                        .onda{
                            right: -60px;
                            display: block;
                            margin: 5px 0 3px 0;
                            position: relative;

                            @include media-breakpoint-down(md){
                                right: auto;
                                width: max-content;
                                margin: 10px auto;
                                
                            }                            
                        }

                        p{
                            margin: 0;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: right;
                            small{
                                font-weight: normal;
                                display: block;
                            }                            
                        }
                    }
                }
            }/* col */
        }
    }
}