.realizacao{
    margin: 80px 0;

    .title-default{
        margin-bottom: 50px;

        .gradient-title{
            &::before {
                width: 48%;
                left: auto;
                right: -8px;
            }
        }
    }
    &__empreendimentos{
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md){
            display: none;
        }

        .empreendimento{
            width: 32%;
            position: relative;
            overflow: hidden;

            .description{
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;

                p, strong{                    
                    color: #fff;
                    position: relative;
                    font-size: 13px;
                    padding: 8px 0px;
                    text-align: center;

                    strong{
                        font-weight: 600;
                    }
                }

                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: $gradient;
                    top: 0;
                    left: 0;
                    position: absolute;
                    opacity: 0.8;
                }
            }

            img{
                transition: ease-in 0.3s;
            }

            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }/* empreendimento */
    }

    .maximo{
        align-items: center;
        margin-top: 80px;

        @include media-breakpoint-down(md){
            margin-top: 0px;
        }
        
        &__foto{
            position: relative;

            @include media-breakpoint-down(md){
                order: 2;
                margin-top: 10px;
            }

            img{
                @include media-breakpoint-down(md){
                    display: none;
                }
            }
        }

        .site{
            display: flex;
            align-items: center;

            @include media-breakpoint-up(lg){
                width: 890px;
                height: 100px;
                position: absolute;
                right: -40px;
                bottom: 80px;
            } 

            .link{
                color: white;
                font-weight: 800;
                font-size: 24px;
                letter-spacing: 2px;
                position: absolute;
                right: 90px;
                z-index: 1;

                @include media-breakpoint-only(lg){
                    font-size: 20px;
                    right: 70px;
                }

                @include media-breakpoint-down(md){
                    background: $gradient;
                    position: initial;
                    width: 100%;
                    text-align: center;
                    padding: 10px;
                    font-size: 14px;
                }
            }

            &__bg{
                background: $gradient-inverse;
                opacity: 0.8;

                @include media-breakpoint-up(lg){
                    width: 100%;
                    height: 100px;
                }                
            }
        }

        &__text{

            @include media-breakpoint-down(md){
                order: 1;
            }

            .title{
                h3{
                    font-size: 89px;
                    font-weight: 800;
                    line-height: 1;

                    @include media-breakpoint-down(md){
                        font-size: 50px;
                        text-align: center;
                    }
                }

                &__line{
                    width: 77%;
                    height: 4px;
                    background: $gradient;
                    display: inline-block;
                    margin-left: -17px;

                    @include media-breakpoint-down(md){
                        display: none;
                    }
                }
            }

            p{
                font-size: 14px;
                text-align: justify;
                margin-top: 40px;
            }
        }

    }/* maximo */
}