
.icon-facebook:before { content: '\03e9'; } /* 'ϩ' */
.icon-instagram:before { content: '\03ea'; } /* 'Ϫ' */
.icon-linkedin:before { content: '\03eb'; } /* 'ϫ' */
.icon-arrow-right:before { content: '\03ec'; } /* 'Ϭ' */
.icon-arrow-left:before { content: '\03ed'; } /* 'ϭ' */
.icon-arrow-down:before { content: '\e802'; } /* '' */
.icon-arrow-up:before { content: '\e803'; } /* '' */