/* VARS */
$gray: #434040;
$orange-pinky: #eb5367;
$orange: #f27460;
$gradient: linear-gradient(to right, #f9b185 0%,#ef818f 100%);
$gradient-inverse: linear-gradient(to right, #ef818f 0%,#f9b185 100%);
$gradient-vert: linear-gradient(to bottom, #ea6475 0%,#f99559 100%);
$gradient-button: linear-gradient(to right, #f99559 0%,#eb5367 100%);
$gradient-half: linear-gradient(to right, #f9b185 0%,#f9b185 49%,#e35067 50%,#e35067 100%);
$red-error: #721c24;
$gradient-text: -webkit-linear-gradient(#ea6475, #f99559);

*{
    font-family: 'Uniform';
    font-weight: normal;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: $gray;
    outline: none;
}

body{
    background-color: #f8f9f8;

    @include media-breakpoint-down(md){
        background: white;
    }

    &.no-scroll{
        overflow: hidden;
    }
}

img{
    display: block;
}

.gradient-title{
    position: relative;

    &::before{
        content: "";
        display: block;
        width: calc(100% + 16px);
        height: 20px;
        background: linear-gradient(to right,#f9b185 0,#ef818f 100%);
        position: absolute;
        left: -8px;
        bottom: 0;
        z-index: -1;
    }
}

.img-responsive{
    display: block;
    width: 100%;
}

.section-full{
    width: 100%;

    @include media-breakpoint-down(md){
        .container{
            max-width: 500px;
        }
    }
}

.btn{
    display: block;
    width: max-content;
    border: 0;
    cursor: pointer;

    &--gradient{
        background: linear-gradient(90deg, var(--c1, #F99559), var(--c2, #EB5367) 51%, var(--c1, #F99559)) var(--x, 0)/ 200%;;
        border-radius: 50px;                
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 15px;
        padding: 15px 40px;

        transition: ease 0.4s;

        &:hover{
            --x: 100%;
        }

        i{
            color: white;
            font-size: 20px;
            margin-left: 15px;
            margin-right: -15px;
        }        
    }


}

.title-default{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;

    .line{
        width: 3px;
        height: 122px; 
        background: $gradient-vert;
        margin-bottom: 45px;

        @include media-breakpoint-down(md){
            height: 70px !important;
        }
    }

    .title{
        font-size: 33px;
        font-weight: 900;

        @include media-breakpoint-down(md){
            text-align: center;
        }

        b{
            font-weight: 900;
        }
    }

    .subtitle{
        font-family: 'UniCond';
        font-size: 16px;
        margin-top: 5px;
    }

    &--horizontal{
        .line{
            width: 40px;
            height: 3px !important;
            background: $gradient;
            margin-bottom: 35px;
        }

        .subtitle{
            margin: 0;
        }
    }
}

.error{
    color: $red-error;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;    
}

.success{
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;  
}