.footer{
    background: #edeef0;
    padding-top: 60px;
    padding-bottom: 20px;
    position: relative;

    &__bar{
        width: 100%;
        height: 60px;
        position: absolute;
        left: 0;
        top: 0;
        background: $gradient;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: ease-in-out 0.5s;

        &--scrolled{
            position: fixed;
            bottom: 0;
            top: auto;
            height: 50px;
            z-index: 5;
            opacity: 1;
            box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);

            transition: ease 0.5s;

            &--top{
                bottom: -50px;
            }
        }

        .contact{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto;

            @include media-breakpoint-down(md){
                justify-content: center;
            }

            &__fone,
            &__whats{
                @include media-breakpoint-up(lg){
                    a{
                        pointer-events: none;
                    }
                }
            }

            &__whats{
                @include media-breakpoint-down(md){
                    border-right: 1px solid white;
                    border-left: 1px solid white;
                    padding: 0 30px;
                    margin: 0 25px;
                }
            }

            li{
                display: flex;

                a{
                    display: flex;
                }

                p, strong{
                    color: white;
                    font-size: 15px;

                    @include media-breakpoint-down(md){
                        display: none;
                    }
                }

                strong{
                    display: block;
                    font-weight: 600;
                }
            }

            .icon{
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;

                &--telefone{
                    width: 35px;
                    height: 34px;
                    background-image: url(../image/icon-fone-footer.png);               
                }

                &--mobile{
                    width: 22px;
                    height: 40px;
                    background-image: url(../image/icon-mobile-footer.png);

                    @include media-breakpoint-down(md){
                        width: 19px;
                        height: 35px;
                    }
                }

                &--email{
                    width: 48px;
                    height: 35px;
                    background-image: url(../image/icon-email-footer.png);

                    @include media-breakpoint-down(md){
                        width: 40px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .logos{
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 20px;

        p{
            font-size: 11px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }

        &__construcao{
            width: 165px;
            margin: 0 20px;
        }

        &__intermediacao{
            width: 206px;
            margin: 0 20px;
        }
    }/* logos */

    .text{        
        margin-top: 20px;
        border-top: 2px solid $gray;

        p{
            padding-top: 15px;
            font-size: 12px;
            text-align: center;
        }
    }
}

#status{
    color: white;
}

#lhc_status_container,
#lhc_header,
.btn-success,
.send-message input[type="button"]{
    background-color: $orange !important;
}
