.menu-bar{
    top: 0;
    left: 0;
    z-index: 10;
    transition: ease-in 0.3s;

    @include media-breakpoint-up(lg){
        background: transparent;
        position: absolute;
    }

    @include media-breakpoint-down(md){
        background: white;
        position: fixed;
        box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.5);
    }

    .menu{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-top: 28px;
        padding-bottom: 28px;

        @include media-breakpoint-down(md){
            padding-top: 13px;
            padding-bottom: 13px;
            justify-content: space-between;
        }

        .btn-mobile{
            height: 60px;
            position: absolute;
            right: 0;
            width: 60px;
            color: white;
            font-size: 25px;
            border: 0;
            background: $gradient;

            @include media-breakpoint-up(lg){
                display: none;
            }
        }
    
        &__brand{
            position: relative;

            @include media-breakpoint-down(md){
                width: 180px;
            }

            img{
                width: 100%;
            }

            .logo-pb{
                opacity: 1;
            }            
    
            .logo-color{
                position: absolute;
                width: calc(100% - 30px);
                left: 15px;
                opacity: 0;
                transition: ease-in 0.3s;

                @include media-breakpoint-down(md){
                    opacity: 1;
                    display: none;
                }
            }
        }
    
        &__links{
            display: flex;
            justify-content: space-between;
            flex-grow: 2;
            padding-left: 0;
    
            @include media-breakpoint-down(md){
                height: calc(100% - 60px);
                width: 316px;
                position: fixed;
                top: 60px;
                flex-flow: column;
                justify-content: flex-start;
                left: -100%;
                background: white;
                padding: 0;
                transition: ease 0.3s;

                &--open{
                    left: 0;

                    &::after{
                        opacity: 1 !important;
                    }

                }

                &::before{
                    content: '';
                    display: block;
                    width: 100vw;
                    height: 2px;
                    background: $orange-pinky;
                    pointer-events: none;
                }

                &::after{
                    content: '';
                    display: block;
                    width: 100vh;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.5);
                    top: 0;
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    pointer-events: none;
                }
            }

            li{
                @include media-breakpoint-down(md){
                    
                }

                a{
                    font-size: 15px;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                    position: relative;

                    @include media-breakpoint-down(md){
                        padding: 10px;
                        display: block;
                    }
    
                    &::after{
                        content: " ";
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        opacity: 0;
                        background: $orange-pinky;
                        border-bottom: 1px solid $orange;
                        transition: ease 0.3s;

                        @include media-breakpoint-down(md){
                            display: none;
                        }
                    }
    
                    &:hover, &.active{
                        &::after{
                            opacity: 1;
                            bottom: 0;
                        }

                        @include media-breakpoint-down(md){
                            background: $orange;
                            color: white;
                        }
                    }
                }
    
                &.bold{
                    a{
                        font-weight: 900;
                    }
                }
            }
        }
    
    }

    &--scrolled{
        @include media-breakpoint-up(lg){
            background: white;
            box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.5);
            position: fixed;
    
            .menu{
                padding-top: 15px;
                padding-bottom: 10px;
                
                &__brand{
                    .logo-color{
                        opacity: 1;
                    }
                    .logo-pb{
                        opacity: 0;
                    }
                }
            }
        }
    }
}
