.planta{
    &__description{
        border: 15px solid;
        border-image-source: $gradient;
        border-image-slice: 20;
        padding: 30px 0;
        display: flex;
        flex-flow: column;
        align-items: center;

        .title{
            text-transform: uppercase;
            letter-spacing: 0.5;
            background: $gradient-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;            
        }

        &__list{
            li{
                margin: 15px 0;

                span{
                    background: $gradient-text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    font-weight: 600;  
                    
                    &:after{
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 13px;
                        height: 3px;
                        background: $gradient-vert;
                        margin: 0 10px;

                        @include media-breakpoint-down(md){
                            width: 5px;
                        }
                    }
                }
            }
        }
    }
}