<section class="section-full a-planta">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-2 offset-lg-3 title-default">
                <div class="line"></div>
                <h2 class="title">a <b class="gradient-title">planta</b></h2>
                <h5 class="subtitle">do apartamento</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-xl-9 a-planta__slider">
                <div class="owl-carousel owl-theme orange-arrow" id="slidePlanta">
                    <div class="item planta row">
                        <div class="planta__image col-lg-7">
                            <img srcset="image/plantas/planta-tipo.png" alt="Planta tipo - Varandas Pitangueiras" class="img-responsive">
                        </div>
                        <div class="planta__description col-lg-5">
                            <h3 class="title">apartamento<br> tipo <img src="image/ondinha.png"/></h3>
                            <div class="figure"><h4>137m²</h4></div>
                            <ul class="planta__description__list">
                                <li><span></span>3 Suítes</li>
                                <li><span></span>Varanda Gourmet</li>
                                <li><span></span>2 Vagas de Garagem</li>
                            </ul>
                        </div>
                    </div>

                    <div class="item planta row">
                        <div class="planta__image col-lg-7">
                            <img srcset="image/plantas/planta-cobertura-01.png" alt="Apartamento cobertura duplex - Varandas Pitangueiras" class="img-responsive">
                        </div>
                        <div class="planta__description col-lg-5">
                            <h3 class="title">apartamento<br> cobertura duplex </h3>
                            <div class="figure"><h4>303m²</h4></div>
                            <ul class="planta__description__list">
                                <li><span></span>3 Suítes</li>
                                <li><span></span>Varanda Gourmet</li>
                                <li><span></span>2 Vagas de Garagem</li>
                                <li><span></span>Espaço Grill</li>
                                <li><span></span>Piscina, Solário e Deck</li>
                            </ul>
                        </div>
                    </div>

                    <div class="item planta row">
                        <div class="planta__image col-lg-7">
                            <img srcset="image/plantas/planta-cobertura-02.png" alt="Apartamento cobertura duplex - Varandas Pitangueiras" class="img-responsive">
                        </div>
                        <div class="planta__description col-lg-5">
                            <h3 class="title">apartamento<br> cobertura duplex </h3>
                            <div class="figure"><h4>303m²</h4></div>
                            <ul class="planta__description__list">
                                <li><span></span>3 Suítes</li>
                                <li><span></span>Varanda Gourmet</li>
                                <li><span></span>2 Vagas de Garagem</li>
                                <li><span></span>Espaço Grill</li>
                                <li><span></span>Piscina, Solário e Deck</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>