<section class="section-full module" id="apartamento">
    {% include "modules/faixa-conforto.html" %}

    <section class="section-full area-privativa">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 description">
                    <div class="title-default title-default--horizontal">
                        <div class="line"></div>
                        <h5 class="subtitle">requinte e conforto para</h5>
                        <h2 class="title">os momentos <br/>com a família</h2>                    
                    </div>
                    <div class="owl-carousel owl-theme gradient-list description__slider" id="listPrivativo">
                        <div class="item pick">Living room</div>
                        <div class="item">Varanda Gourmet</div>
                    </div>
                </div>
    
                <div class="col-lg-7 slider">
                    <div class="palmeira"></div>
                    <div class="owl-carousel owl-theme white-arrow slider__privativo" id="sliderPrivativo">
                        <div><img src="image/privativo/living.jpg"/></div>
                        <div><img src="image/privativo/espaco-gourmet.jpg"/></div>
                    </div>
                </div>            
            </div>
        </div>
    </section>

    {% include "modules/a-planta.html" %}
    {% include "modules/diferencial.html" %}
</section>
