<section class="section-full module" id="contato">

    <section class="section-full contato">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 title-default">
                    <div class="line"></div>
                    <h2 class="title">entre em <b class="gradient-title">contato</b></h2>
                    <h5 class="subtitle">pelo formulário abaixo</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 contato__formulario">
                    {% include "modules/formulario.html" %}
                </div>
            </div>
        </div>
    </section>

    {% include "modules/mapa.html" %}
</section>