<section class="section-full diferencial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <div class="diferencial__box diferencial__box--one">
                    <div class="number"><h3>01</h3></div>
                    <img src="image/diferencial-01.jpg" class="img-responsive">
                    
                    <ul class="list">
                        <h2>torre e <br/>áreas comuns</h2>
                        <li>Torre única.</li>
                        <li>Duas vagas por unidade.</li>
                        <li>Vista para o mar ou montanhas.</li>
                        <li>Áreas de lazer equipadas.</li>
                        <li>Alto padrão nos acabamentos.</li>
                        <li>Acessibilidade para portadores de necessidades especiais.</li> 
                    </ul>
                </div>

                <div class="diferencial__box diferencial__box--three">
                    <div class="number"><h3>03</h3></div>
                    <img src="image/diferencial-03.jpg" class="img-responsive">
                    <ul class="list">
                        <h2>sustentabilidade</h2>
                        <li>Lâmpadas de led e sensores de presença nas áreas comuns.</li>
                        <li>Previsão para medição individualizada de água e gás nas unidades.</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="title-default">
                    <div class="line"></div>
                    <h2 class="title"><b class="gradient-title">diferenciais</b></h2>
                    <h5 class="subtitle">Exclusivos do Varandas Pitangueiras</h5>
                </div>

                <div class="diferencial__box diferencial__box--two">
                    <div class="number"><h3>02</h3></div>
                    <img src="image/diferencial-02.jpg" class="img-responsive">
                    
                    <ul class="list">
                        <h2>segurança</h2>
                        <li>Clausura de pedestres.</li>
                        <li>Porteiro eletrônico.</li>
                        <li>Fechadura magnética.</li>
                        <li>Sensor anti-esmagamento no portão de acesso a garagem.</li>
                    </ul>
                </div>  
                
                <div class="folha"><img src="image/folha.png"/></div>
            </div>
        </div>
    </div>
</section>