<section class="section-full faixa-familia">
    <div class="container">

        <div class="frase">
            <div class="frase__line"></div>
            <div class="frase__text">
                <h6>para<br/>aproveitar<br/>o melhor da</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 offset-lg-2 familia">
                <picture>
                    <source srcset="image/familia.png" media="(min-width: 992px)" />
                    <source srcset="image/familia-mobile.png" media="(max-width: 991px)" />
                    <img srcset="image/familia.png" alt="Lazer Varandas Pitangueiras" />
                </picture>

                <div class="folha"><img src="image/folha.png"/></div>
            </div>
        </div>
    </div>
</section>