<section class="section-full faixa-conforto">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 faixa-conforto__wrapper">
                <div class="frase frase--small">
                    <h5>e cuidado em<br/>cada detalhe</h5>
                    <div class="line"></div>
                </div>
                <div class="frase frase--big">
                    <div class="line"></div>
                    <p>O Varandas Pitangueiras foi planejado com <br/>
                    <span>sofisticação e comodidade</span>, para <br/>
                    que toda a familia se sinta em um <br/>
                    ambiente ímpar.</p>
                </div>
                <picture>
                    <source srcset="image/conforto.png" media="(min-width: 992px)">
                    <source srcset="image/conforto-mobile.png" media="(max-width: 991px)">
                    <img srcset="image/conforto.png" alt="…">
                </picture>
            </div>
        </div>
    </div>
</section>