<section class="section-full ficha-tecnica">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 fachada">
                <div class="fachada__wrapper">
                    <img src="image/img-fachada.jpg"/>
                </div>
            </div>

            <div class="col-lg-6 dados">
                <div class="col title-default">
                    <div class="line"></div>
                    <h2 class="title">Ficha <b class="gradient-title">técnica</b></h2>
                    <h5 class="subtitle">Varandas Pitangueiras</h5>
                </div>

                <div class="dados__box">
                    <ul>
                        <li>16 pavimentos</li>
                        <li>2 unidades por andar</li>
                        <li>1 elevador social</li>
                        <li>1 elevador de serviço</li>
                        <li>2 vagas</li>
                        <li>Cobertura Duplex</li>
                    </ul>

                    <div class="label">
                        <div class="label__wrapper">
                            <p><b>Arquitetura:</b> Nalesso Menin Arquitetura<br/>
                            <b>Decoração:</b> Mattos Arquitetura</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>