<form id="reused_form" class="form-action">
    <div class="row-select">
        <i class="icon-arrow-down icon"></i>
        <label class="custom" for="choose"></label>
        <select name="atendimento" id="choose" class="choose-chanel">
            <option>Escolha um canal de atendimento*</option>
            <option value="email">Por e-mail</option>
            <option value="telefone">Por telefone</option>
            <option value="whatsapp">Via WhatsApp</option>
        </select>
    </div>


    <div class="row-form">
        <input type="text" name="nome" class="form-control name" placeholder="Nome*">
        <input type="text" name="telefone" class="telefone" placeholder="Telefone com DDD*" />
        <input type="email" name="e-mail" class="form-control email" placeholder="E-mail*">
    </div>

    <textarea name="comentario" class="form-control"></textarea>

    <small>Campos marcados com * são obrigatórios.</small>

    <button type="submit" class="btn btn--gradient">Enviar mensagem <i class="icon-arrow-right"></i></button>
</form>
<div class="error form-error_message" style="width:100%; display:none; ">
    Os campo em vermelhos precisam ser preenchidos
</div>
<div class="form-success_message" style="width:100%; display:none; ">
    <h2>Sua mensagem foi enviada</h2>
    <h3>Em breve entraremos em contato.</h3>
</div>