<header class="section-full header">
    <div class="container">
        <div class="row">
            <div class="col header__wrapper">

                <div class="header__wrapper__container">
                    <div class="metragem">
                        <div class="metragem__wrapper">
                            <p><strong>137</strong> m²</p>
                            <div class="dot"></div>
                            <p><strong>3</strong> suítes</p>
                            <div class="dot"></div>
                            <p><strong>2</strong> vagas</p>
                        </div>
                    </div>
                    
                    <!--
                    <div class="slogan">
                        <img src="image/slogan.png" class="img-responsive"/>
                    </div>-->

                    <div class="header__wrapper__formulario">
                        <div class="title-default">
                            <h2 class="title">entre em <b class="gradient-title">contato</b></h2>
                        </div>
                        {% include "modules/formulario.html" %}
                    </div>
                </div>

                <!--<div class="arrow-down"></div>-->

                <ul class="social">
                    <li><a class="icon-facebook" href="https://www.facebook.com/construtoramaximo/" target="_blank"></a></li>
                    <li><a class="icon-instagram" href="https://www.instagram.com/maximoaldana_/" target="_blank"></a></li>
                    <li><a class="icon-linkedin" href=" https://www.linkedin.com/company/maximoaldana/" target="_blank"></a></li>
                </ul>
            </div><!-- Wrapper header -->
        </div>
    </div>
</header>