<section class="section-full module" id="lazer">
    {% include "modules/faixa-familia.html" %}

    <section class="section-full lazer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 slider">
                    <div class="owl-carousel owl-theme white-arrow slider__lazer" id="sliderLazer">
                        <div><img src="image/lazer/piscina.jpg"/></div>
                        <div><img src="image/lazer/salao-de-festas.jpg"/></div>
                        <div><img src="image/lazer/espaco-gourmet.jpg"/></div>
                        <div><img src="image/lazer/repouso-da-sauna.jpg"/></div>
                        <div><img src="image/lazer/fitness.jpg"/></div>
                        <div><img src="image/lazer/brinquedoteca.jpg"/></div>
                        <div><img src="image/lazer/salao-de-jogos.jpg"/></div>
                    </div>
                </div>
    
                <div class="col-lg-4 description">
                    <div class="title-default title-default--horizontal">
                        <div class="line"></div>
                        <h5 class="subtitle">momentos<br/>inesquecíveis com</h5>
                        <h2 class="title">diversão<br/>garantida</h2>                    
                    </div>
                    <div class="owl-carousel owl-theme gradient-list description__slider" id="listLazer">
                        <div class="item">piscina</div>
                        <div class="item">salão de festas</div>
                        <div class="item">espaço gourmet</div>
                        <div class="item">repouso sauna</div>
                        <div class="item">espaço fitness</div>
                        <div class="item">brinquedoteca</div>
                        <div class="item">salão de jogos</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "modules/planta-lazer.html" %}
</section>

