<section class="section-full localizacao module" id="localizacao">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 title-default">
                <div class="line"></div>
                <h2 class="title">praia das <b class="gradient-title">pitangueiras</b></h2>
                <h5 class="subtitle">o verde das montanhas e o azul do mar</h5>
            </div>
        </div>
        <div class="row localizacao__wrapper">            
            <div class="col-lg-5 col-xl-4 box-text">
                <div class="box-text__box">
                    <div class="paragrafo">
                        <h4>praia das pitangueiras</h4>
                        <p>A 88 km de distância de São Paulo, a Praia das Pitangueiras possui 1,8km de extensão e é repleta de belezas naturais, com excelente infraestrutura e localização privilegiada no centro da cidade.</p>
                    </div>

                    <div class="paragrafo">
                        <h4>bairro barra funda</h4>
                        <p>Para quem procura tranquilidade, sofisticação, segurança, paisagens exuberantes e completa infraestrutura, o bairro Barra Funda é o lugar ideal.</p>
                        <p>O Residencial Varandas Pitangueiras fica próximo ao Shopping La Plage, Restaurante Avelino's, Padaria O Rei do Trigo, Bar Armazém da Barra e muitos outros comércios bem-conceituados do Guarujá.</p>
                    </div>                    
                </div>

                <div class="ondas"></div>
            </div>

            <div class="col-lg-7 box-picture">
                <div class="picture">
                    <img src="image/foto-praia.jpg" class="img-responsive"/>
                </div>
                <div class="adress">
                    <p>Rua piracicaba, 113 - Barra FUNDA</p>
                </div>
                <a class="btn btn--gradient look-map open-modal" data-modal="mapa">Ver mapa <i class="icon-arrow-right"></i></a>
            </div>
        </div><!-- localizacao__wrapper -->
    </div>
</section>

<!-- Modal -->
<div class="modal" id="mapa">
    <button class="close icon-close"></button>
    <div class="modal__wrapper">
        <img src="image/mapa-varandas-pitangueiras.jpg" alt="Mapa Varandas Pitangueiras" />
    </div>
</div>