<section class="section-full planta-lazer">
    <div class="container">
        <div class="row planta-lazer__wrapper planta">

            <div class="title-default d-block d-lg-none">
                <div class="line"></div>
                <h2 class="title">A <b class="gradient-title">planta</b></h2>
                <h5 class="subtitle">da área de lazer</h5>
            </div> 

            <div class="planta__description col-lg-4 offset-lg-2">
                <img src="image/ondinha.png" class="onda"/>
                <h3 class="title">espaços amplos <br>e planejados para <br/>todas as idades</h3>
                <ul class="planta__description__list">
                    <li><span>01</span>Hall Social</li>
                    <li><span>02</span>Salão para Festas</li>
                    <li><span>03</span>Espaço Gourmet</li>
                    <li><span>04</span>Brinquedoteca</li>
                    <li><span>05</span>Salão para Jogos</li>
                    <li><span>06</span>Fitness</li>
                    <li><span>07</span>Descanso</li>
                    <li><span>08</span>Sauna</li>
                    <li><span>09</span>Solarium</li>
                    <li><span>10</span>Deck Molhado</li>
                    <li><span>11</span>Piscina</li>
                    <li><span>12</span>Raia</li>
                </ul>
            </div>

            <div class="planta__image col-lg-6">
                <div class="title-default d-none d-lg-block">
                    <div class="line"></div>
                    <h2 class="title">A <b class="gradient-title">planta</b></h2>
                    <h5 class="subtitle">da área de lazer</h5>
                </div>                    
                <img srcset="image/plantas/planta-lazer.png" alt="Planta Lazer Varandas Pitangueiras" class="img-responsive" />
            </div>

        </div><!-- planta wrapper -->
    </div>
</section>