<section class="section-full module" id="projeto">

    <section class="section-full projeto">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 title-default">
                    <div class="line"></div>
                    <h2 class="title">Sobre o <b class="gradient-title">projeto</b></h2>
                    <h5 class="subtitle">depoimento do arquiteto</h5>
                </div>
            </div> 
            
            <div class="row">
                <div class="col-lg-9 projeto__arquiteto">
                    <div class="box">
                        <div class="box__col">
                            <img src="image/aspas.png" class="img-responsive"/>
                        </div>
    
                        <div class="box__col">
                            <p>Quando fomos contatados para elaborar o projeto do Residencial Varandas Pitangueiras, em um terreno localizado no bairro Barra Funda, linkamos, até por experiência própria, com um dos melhores locais para morar ou até investir na cidade, com uma vista espetacular para a morro do Botelho, com muita beleza natural.</p>
                            <p>Nossa partida foi um projeto adequado tanto ao morador quanto ao turista, com ambientes claros, amplos e práticos. Um projeto atual. E para completar, projetamos uma varanda ampla e equipada, sendo uma verdadeira extensão da sala, integrando a área interna e externa do apartamento.</p>                        
                            <div class="person">
                                <div class="person__name">
                                    <div class="onda"><img src="image/ondinha.png"/></div>
                                    <p>Henrique Menin e Rosana Menin <small>Arquitetos responsáveis</small></p>
                                </div>
                                <div class="person__picture">
                                    <img src="image/foto-arquiteto.jpg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- projeto__arquiteto -->
            </div>
        </div>
    </section>

    {% include "modules/ficha-tecnica.html" %}

</section>
