<section class="section-full realizacao module" id="realizacao">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 title-default">
                <div class="line"></div>
                <h2 class="title"><b class="gradient-title">realização</b></h2>
                <h5 class="subtitle">maximo aldana</h5>
            </div>            
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1 realizacao__empreendimentos">
                <a class="empreendimento">
                    <img src="image/realizacao-01.jpg" class="img-responsive"/>
                    <div class="description"><p><strong>Style Diamond</strong> - São Bernardo do Campo</p></div>
                </a>
                 
                <a class="empreendimento">
                    <img src="image/realizacao-02.jpg" class="img-responsive"/>
                    <div class="description"><p><strong>Costa Esmeralda</strong>- Guarujá</p></div>
                </a>

                <a class="empreendimento">
                    <img src="image/realizacao-03.jpg" class="img-responsive"/>
                    <div class="description"><p><strong>Style Platinum</strong>- São Bernardo do Campo</p></div>
                </a>
            </div>
        </div>

        <div class="row maximo">
            <div class="col-lg-4 offset-lg-1 maximo__foto">
                <img src="image/foto-maximo.jpg" class="img-responsive"/>
                <div class="site">
                    <a href="http://www.maximoaldana.com.br" class="link" target="_blank">maximoaldana.com.br</a>
                    <div class="site__bg"></div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1 maximo__text">
                <div class="title">
                    <h3>o <div class="title__line"></div>
                        máximo <br/>empenho
                    </h3>
                </div>
                <p>Com 19 anos de mercado, mais de 500 obras realizadas em território nacional e mais de 200 mil metros quadrados construídos, nós, da Maximo Aldana Construtora & Incorporadora, continuamos seguindo o nosso principal objetivo em cada construção ou reforma: continuar nos aprimorando para garantir o máximo de qualidade para quem confia em nosso trabalho.</p>
            </div>
        </div>
    </div>
</section>