<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PPVBFGN');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130199784-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-130199784-1');
    </script>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/fontello/css/fontello.css" rel="stylesheet">

    <title>Varandas Pitangueiras | Apartamento Alto Padrão no Guarujá</title>
    <meta name="description" content="Varandas Pitangueiras, um novo conceito de moradia que acaba de chegar no Guarujá, ao lado da Praia das Pitangueiras, com apartamentos de 137m², 3 suítes e 2 vagas.">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon.png">
  </head>