@font-face {
    font-family: 'Uniform';
    src: url('./fonts/Uniform.woff2') format('woff2'),
         url('./fonts/Uniform.ttf') format('truetype');
    font-weight: normal;
}
  
@font-face {
    font-family: 'Uniform';
    src: url('./fonts/Uniform-Light.woff2') format('woff2'),
         url('./fonts/Uniform-Light.ttf') format('truetype');
    font-weight: 300;
}
  
@font-face {
    font-family: 'Uniform';
    src: url('./fonts/Uniform-Medium.woff2') format('woff2'),
         url('./fonts/Uniform-Medium.ttf') format('truetype');
    font-weight: 500;
}
  
@font-face {
    font-family: 'Uniform';
    src: url('./fonts/Uniform-Black.woff2') format('woff2'),
         url('./fonts/Uniform-Black.ttf') format('truetype');
    font-weight: 800;
}
  
@font-face {
    font-family: 'UniCond';
    src: url('./fonts/UniformCondensed.woff2') format('woff2'),
         url('./fonts/UniformCondensed.ttf') format('truetype');
    font-weight: normal;
}
  