.modal{
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    overflow: auto;

    transition: ease 0.3s;

    &--open{
        visibility: visible;
        opacity: 1;
        pointer-events: initial;
    }

    .close{
        position: fixed;
        border: 0;
        top: 20px;
        right: 20px;
        background: transparent;
        cursor: pointer;

        @include media-breakpoint-down(sm){
            top: 10px;
            right: 10px;
        }

        &::before{
            background-image: linear-gradient(to right,#f9b185 0,#ef818f 100%);
            background-clip: text;
            -webkit-background-clip: text;
            font-size: 35px;
            color: transparent;
        }

    }

    &__wrapper{
        width: 50%;
        max-width: 600px;
        height: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
        background: white;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);

        @include media-breakpoint-only(md){
            width: 70%;
        }

        @include media-breakpoint-down(sm){
            width: 90%;
            margin-top: 15vw;
        }

        img{
            width: 100%;
        }
    }
}