.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot{
    background: auto;
    outline: none !important;
}



@include media-breakpoint-up(lg){
    .owl-carousel .owl-dots{
        display: none !important;
    }
}
@include media-breakpoint-down(md){
    .owl-carousel .owl-nav{
        display: none !important;
    }

    .owl-carousel .owl-dots{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        position: absolute;
        width: 100%;

        button{
            width: 10px;
            height: 10px;
            background: white;
            border-radius: 100%;
            margin: 0 5px;
            opacity: 0.6;
            transition: ease 0.3s;

            &.active{
                opacity: 1;
            }
        }
    }
}

.white-arrow{
    .owl-nav{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);

        button{
            background-color: white !important;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            transition: ease-in 0.3s;
            outline: none;
            
            i{
                color: $orange;
                font-size: 20px;
                transition: ease-in 0.3s;
            }

            &.owl-prev{
                margin-left: -30px;
            }

            &.owl-next{
                margin-right: -30px;
                float: right;
            }

            &.disabled{
                pointer-events: none;
                opacity: 0.5;
            }

            &:hover{
                background-color: $orange !important ;
                i{
                    color: white;
                }
            }
        }
    }    
}

.orange-arrow{
    .owl-nav{
        button{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            display: inline-block;

            i{
                color: white;
                margin: 0;
            }

            &.owl-prev{
                margin-right: 10px;
            }

            &.disabled{
                opacity: 0.5;
                cursor: default;
            }
        }
    }

    .owl-dots{
        button{
            background: $gradient !important;
        }        
    }
}

.gradient-list{
    .owl-stage{
        display: flex;
        flex-flow: column;

        .owl-item{
            width: 100% !important;

            .item{
                text-transform: uppercase;
                margin-bottom: 18px;
                text-align: right;
                padding-right: 30px;
                width: max-content;
                float: right;
                padding-left: 15px;
                cursor: pointer;

                &::before{
                    content: "";
                    display: block;
                    width: calc(100% + 60px);
                    height: 12px;
                    background: linear-gradient(to right,#f9b185 0,#ef818f 100%);
                    position: relative;
                    bottom: -30px;
                    z-index: -1;
                    right: 20px;
                    opacity: 0;
                    transition: ease 0.3s;
                }

            }

            &:last-child{
                .item{
                    margin-bottom: 3px;
                }
            }

            &:hover, &.current{
                .item, &.pick{
                    &::before{
                        opacity: 1;
                        bottom: -21px;
                    }                            
                }
            }
        }
    }    
}
